body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: bisque;
}

.divShowData {
    text-align: center;
    border: 5px solid black;
    border-radius: 3vh;
    padding: 50px;
    background-color: white;
    margin: auto;
}
